.register-container {
  text-align: center;
}

.register-title {
  margin: 2em 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 20em;
}

@media (max-width: 350px) {
  .mat-form-field {
    width: 80vw;
  }
}
