<nav class="primary-navbar">
  <a routerLink="/homepage">Homepage</a>
  <a routerLink="/dishes">Menu</a>
  <span class="flex-spacer"></span>
  <a>Log in</a>
  <a>Register</a>
</nav>

<nav class="secondary-navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/homepage">
      <mat-icon>home</mat-icon>
      <span>Homepage</span>
    </button>
    <button mat-menu-item routerLink="/dishes">
      <mat-icon>menu_book</mat-icon>
      <span>Menu</span>
    </button>
  </mat-menu>
</nav>
