<nav class="primary-navbar">
  <a routerLinkActive="active-link" routerLink="/homepage">Homepage</a>
  <a routerLinkActive="active-link" routerLink="/dishes">Menu</a>
  <a routerLinkActive="active-link" routerLink="/dishes-manager">Dishes Manager</a>
  <a routerLinkActive="active-link" routerLink="/admin-panel">Admin Panel</a>
  <a routerLinkActive="active-link" routerLink="/cart">Cart</a>
  <span class="flex-spacer"></span>
  <div class="user-auth-block" *ngIf="authService.user; else newUser">
    <h3 class="username" *ngIf="authService.userDataDB">Hello, {{authService.userDataDB.username}}!</h3>
    <button (click)="authService.signOutUser()">Log out</button>
  </div>
  <ng-template class="user-auth-block" #newUser>
    <a routerLinkActive="active-link" routerLink="/login">Log in</a>
    <a routerLinkActive="active-link" routerLink="/register">Register</a>
  </ng-template>
</nav>

<nav class="secondary-navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/homepage">
      <mat-icon>home</mat-icon>
      <span>Homepage</span>
    </button>
    <button mat-menu-item routerLink="/dishes">
      <mat-icon>menu_book</mat-icon>
      <span>Menu</span>
    </button>
    <button mat-menu-item routerLink="/dishes-manager">
      <mat-icon>restaurant_menu</mat-icon>
      <span>Dishes Manager</span>
    </button>
    <button mat-menu-item routerLink="/admin-panel">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Panel</span>
    </button>
    <button mat-menu-item routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
    <div *ngIf="authService.user">
      <button mat-menu-item (click)="authService.signOutUser()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
      <span mat-menu-item disabled *ngIf="authService.userDataDB">Hello, {{authService.userDataDB.username}}!</span>
    </div>
    <div *ngIf="!authService.user">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
    </div>

  </mat-menu>
</nav>
