nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #9c27b0;
  padding: 0.5em;
  display: flex;
  color: white;
  align-items: center;
  box-shadow: 15px 15px 29px -9px rgba(66, 68, 90, 0.7);
}

.active-link {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}

.primary-navbar a,
.primary-navbar button {
  font-size: 1.4rem;
  padding: 0.5em;
  text-decoration: none;
  color: white;
  margin: 0 0.25em;
  border: none;
  cursor: pointer;
}

.primary-navbar button {
  background-color: transparent;
}

.primary-navbar a:hover,
.primary-navbar button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.25em;
}

.user-auth-block {
  display: flex;
  align-items: center;
}

.username {
  font-size: 1.4rem;
  margin: 0;
  color: #69f0ae;
  font-weight: 700;
}

.secondary-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .primary-navbar {
    display: none;
  }

  .secondary-navbar {
    display: block;
  }
}
