<mat-progress-bar *ngIf="!dish"></mat-progress-bar>

<header class="dish-detail-header">
  <button mat-raised-button
          color="primary"
          class="go-back-button"
          (click)="goBack()">Go back
  </button>
  <span class="flex-spacer"></span>
  <div class="currency-block">
    <h3 class="change-currency-title">Change currency:</h3>
    <mat-button-toggle-group [value]="dishesInfoService.currCurrency" (change)="dishesInfoService.changeCurrCurrency()">
      <mat-button-toggle value="USD" class="currency-value">USD</mat-button-toggle>
      <mat-button-toggle value="EUR" class="currency-value">EUR</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>

<section *ngIf="dish" class="dish-detail-container">
  <figure class="dish-figure">
    <picture class="dish-image">
      <source media="(max-width: 768px)" srcset="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx + 1)}}">
      <source media="(min-width: 769px)" srcset="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx)}}">
      <img src="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx)}}" alt="{{dish.name}}">
    </picture>
    <figcaption class="arrows-container">
      <mat-icon (click)="changeImage('left')" class="change-arrow">navigate_before</mat-icon>
      <mat-icon (click)="changeImage('right')" class="change-arrow">navigate_next</mat-icon>
    </figcaption>
  </figure>
  <main class="dish-block">
    <div class="dish-info">
      <ul class="dish-categories">
        <li *ngFor="let category of dish.categories">{{category}}</li>
      </ul>
      <h1 class="dish-name">{{dish.name | uppercase}}</h1>
      <h2 class="dish-cuisine">{{dish.cuisine | uppercase}} CUISINE</h2>
      <h3 class="dish-ingredients-title">Ingredients:</h3>
      <ul class="dish-ingredients-list">
        <li *ngFor="let ingredient of dish.ingredients">{{ingredient}}</li>
      </ul>
      <p class="dish-description">{{dish.description}}</p>
    </div>
    <div class="dish-order">
      <h2 class="dish-price">
        Price: {{dishesInfoService.getDishPrice(dish.price)}} {{dishesInfoService.currCurrency}}
      </h2>
      <h1 class="dish-order-title">Order now:</h1>
      <div class="order-block" *ngIf="dish.id && authService.user; else notLoggedIn">
        <button
          mat-mini-fab color="warn"
          (click)="dishOrderService.removeDishOrder(dish.id, dish.price, dish.name)"
          [disabled]="!dishOrderService.currOrder[dish.id]">
          <mat-icon>remove</mat-icon>
        </button>
        <div class="order-number" *ngIf="dishOrderService.currOrder[dish.id]; else zeroOrders">
          {{dishOrderService.currOrder[dish.id].quantity}}
        </div>
        <ng-template #zeroOrders>
          <div class="order-number">0</div>
        </ng-template>
        <button
          mat-mini-fab
          (click)="dishOrderService.addDishOrder(dish.id, dish.price, dish.name)"
          [disabled]="dishOrderService.currOrder[dish.id] &&
                  dishOrderService.currOrder[dish.id].quantity === dish.quantity">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <ng-template #notLoggedIn>
        <h3>You need to be logged in to place an order.</h3>
      </ng-template>
    </div>
  </main>
</section>
<section class="reviews-container" *ngIf="dish">
  <div class="add-review-container">
    <h1 class="add-review-title">Add your review:</h1>
    <div *ngIf="authService.user && authService.user; else userNotLoggedIn">
      <div *ngIf="wasOrderedByCustomer(); else wasNotOrdered">
        <div *ngIf="!authService.userDataDB.banned; else userBanned">
          <div class="add-review" *ngIf="!isAlreadyReviewed(); else alreadyReviewed">
            <form [formGroup]="addReviewForm" class="add-review-form" (ngSubmit)="addReviewSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Date of purchase</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfPurchase">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>This field is required.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
                <mat-error>This field is required.</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Review</mat-label>
                <textarea matInput formControlName="review"></textarea>
                <mat-error>This field is required.</mat-error>
              </mat-form-field>

              <div class="dish-rating">
                <h2 class="dish-rating-title">Dish rating:</h2>
                <mat-icon [ngClass]="{'checked': rating !== null && rating.value >= 1}"
                          (click)="updateRating(1)">star_rate
                </mat-icon>
                <mat-icon [ngClass]="{'checked': rating !== null && rating.value >= 2}"
                          (click)="updateRating(2)">star_rate
                </mat-icon>
                <mat-icon [ngClass]="{'checked': rating !== null && rating.value >= 3}"
                          (click)="updateRating(3)">star_rate
                </mat-icon>
                <mat-icon [ngClass]="{'checked': rating !== null && rating.value >= 4}"
                          (click)="updateRating(4)">star_rate
                </mat-icon>
                <mat-icon [ngClass]="{'checked': rating !== null && rating.value >= 5}"
                          (click)="updateRating(5)">star_rate
                </mat-icon>
              </div>

              <button type="submit"
                      class="add-review-button"
                      mat-raised-button
                      color="accent"
                      [disabled]="!authService.user || addReviewForm.invalid">Add review
              </button>
            </form>
          </div>
          <ng-template #alreadyReviewed>
            <h2>You have already reviewed this dish.</h2>
          </ng-template>
        </div>
        <ng-template #userBanned>
          <h2>You can't add a review because you were banned by the administrator.</h2>
        </ng-template>
      </div>
      <ng-template #wasNotOrdered>
        <h2>You need to first order this dish to add a review.</h2>
      </ng-template>
    </div>
    <ng-template #userNotLoggedIn>
      <h2>You need to be signed in to add a review.</h2>
    </ng-template>
  </div>

  <div class="customers-reviews-container">
    <h1 class="review-title">Reviews ({{dish.reviews.length}}):</h1>
    <h2 *ngIf="!dish.reviews.length">No reviews yet. Be the first one to write it!</h2>
    <div *ngIf="dish.reviews.length" class="review-content-container">
      <h2 class="review-title">{{dish.reviews[currReviewIdx]["title"] | uppercase}}</h2>
      <mat-icon class="quote">format_quote</mat-icon>
      <div class="review-description">
        {{dish.reviews[currReviewIdx]["review"]}}
      </div>
      <div class="review-rating">
        <mat-icon [ngClass]="{'checked': rating !== null && dish.reviews[currReviewIdx]['rating'] >= 1}">
          star_rate
        </mat-icon>
        <mat-icon [ngClass]="{'checked': rating !== null && dish.reviews[currReviewIdx]['rating'] >= 2}">
          star_rate
        </mat-icon>
        <mat-icon [ngClass]="{'checked': rating !== null && dish.reviews[currReviewIdx]['rating'] >= 3}">
          star_rate
        </mat-icon>
        <mat-icon [ngClass]="{'checked': rating !== null && dish.reviews[currReviewIdx]['rating'] >= 4}">
          star_rate
        </mat-icon>
        <mat-icon [ngClass]="{'checked': rating !== null && dish.reviews[currReviewIdx]['rating'] >= 5}">
          star_rate
        </mat-icon>
      </div>
      <div class="review-username">
        ~ {{dish.reviews[currReviewIdx]["username"]}}
      </div>
      <div class="review-date">
        Date of purchase: {{dish.reviews[currReviewIdx]["dateOfPurchase"].toDate() | date:'MMMM dd yyyy'}}
      </div>
      <div class="arrows-container">
        <mat-icon (click)="changeReview('left')" class="change-arrow">navigate_before</mat-icon>
        <mat-icon (click)="changeReview('right')" class="change-arrow">navigate_next</mat-icon>
      </div>
      <button mat-stroked-button
              color="accent"
              (click)="changeReview('random')"
              [disabled]="dish.reviews.length <= 1">Random review
      </button>
    </div>
  </div>
</section>
