<mat-progress-bar *ngIf="!dish"></mat-progress-bar>

<header class="dish-detail-header">
  <button mat-raised-button
          color="primary"
          class="go-back-button"
          (click)="goBack()">Go back
  </button>
  <span class="flex-spacer"></span>
  <div class="currency-block">
    <h3 class="change-currency-title">Change currency:</h3>
    <mat-button-toggle-group [value]="dishesInfoService.currCurrency" (change)="dishesInfoService.changeCurrCurrency()">
      <mat-button-toggle value="USD" class="currency-value">USD</mat-button-toggle>
      <mat-button-toggle value="EUR" class="currency-value">EUR</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>

<section *ngIf="dish" class="dish-detail-container">
  <figure class="dish-figure">
    <picture class="dish-image">
      <source media="(max-width: 768px)" srcset="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx + 1)}}">
      <source media="(min-width: 769px)" srcset="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx)}}">
      <img src="{{dishesInfoService.getImageUrl(dish.id, dishImageIdx)}}" alt="{{dish.name}}">
    </picture>
    <figcaption class="arrows-container">
      <mat-icon (click)="changeImage('left')" class="image-arrow">navigate_before</mat-icon>
      <mat-icon (click)="changeImage('right')" class="image-arrow">navigate_next</mat-icon>
    </figcaption>
  </figure>
  <main class="dish-block">
    <div class="dish-info">
      <ul class="dish-categories">
        <li *ngFor="let category of dish.categories">{{category}}</li>
      </ul>
      <h1 class="dish-name">{{dish.name | uppercase}}</h1>
      <h2 class="dish-cuisine">{{dish.cuisine | uppercase}} CUISINE</h2>
      <h3 class="dish-ingredients-title">Ingredients:</h3>
      <ul class="dish-ingredients-list">
        <li *ngFor="let ingredient of dish.ingredients">{{ingredient}}</li>
      </ul>
      <p class="dish-description">{{dish.description}}</p>
    </div>
    <div class="dish-order">
      <h2 class="dish-price">
        Price: {{dishesInfoService.getDishPrice(dish.price)}} {{dishesInfoService.currCurrency}}
      </h2>
      <h1 class="dish-order-title">Order now:</h1>
      <div class="order-block" *ngIf="dish.id">
        <button
          mat-mini-fab color="warn"
          (click)="dishOrderService.removeDishOrder(dish.id, dish.price, dish.name)"
          [disabled]="!dishOrderService.currOrder[dish.id]">
          <mat-icon>remove</mat-icon>
        </button>
        <div class="order-number" *ngIf="dishOrderService.currOrder[dish.id]; else zeroOrders">
          {{dishOrderService.currOrder[dish.id].quantity}}
        </div>
        <ng-template #zeroOrders>
          <div class="order-number">0</div>
        </ng-template>
        <button
          mat-mini-fab
          (click)="dishOrderService.addDishOrder(dish.id, dish.price, dish.name)"
          [disabled]="dishOrderService.currOrder[dish.id] &&
                  dishOrderService.currOrder[dish.id].quantity === dish.quantity">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </main>
</section>
