.update-dish-form mat-form-field {
  display: flex;
  flex-direction: column;
}

.add-field-button {
  margin: 1em 0;
}

.remove-field-icon {
  transform: scale(1.5);
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.valid-form {
  margin-bottom: 1em;
}
