<h1 mat-dialog-title>Update {{data.dish.name}}</h1>
<mat-error class="valid-form" *ngIf="!updateDishForm.valid">The form must be valid in order to be submitted.</mat-error>

<mat-dialog-content>
  <form [formGroup]="updateDishForm" class="update-dish-form">
    <mat-form-field appearance="standard">
      <mat-label>Dish name</mat-label>
      <input matInput id="name" type="text" formControlName="name" required>
    </mat-form-field>
    <div class="error-message">
      <mat-error *ngIf="name?.touched && name?.invalid">
        The dish name must start with a capital letter, other letters must me lowercase.
      </mat-error>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Cuisine</mat-label>
      <input matInput id="cuisine" type="text" formControlName="cuisine" required>
    </mat-form-field>
    <div class="error-message">
      <mat-error *ngIf="cuisine?.touched && cuisine?.invalid">
        This field cannot be empty.
      </mat-error>
    </div>

    <div formArrayName="categories" class="form-array-containers">
      <button class="add-field-button" mat-raised-button type="button" (click)="addCategory()">
        + Add another category
      </button>
      <mat-form-field appearance="standard" *ngFor="let category of categories.controls; let i=index">
        <mat-label>Category</mat-label>
        <input matInput id="category-{{i}}" type="text" [formControlName]="i" required>
        <button *ngIf="i !== 0" mat-icon-button matSuffix (click)="removeCategory(i)">
          <mat-icon class="remove-field-icon">delete_outline</mat-icon>
        </button>
      </mat-form-field>
      <div class="error-message">
        <mat-error *ngIf="categories?.touched && categories?.invalid">
          This field cannot be empty.
        </mat-error>
      </div>
    </div>

    <div formArrayName="ingredients" class="form-array-containers">
      <button class="add-field-button" mat-raised-button type="button" (click)="addIngredient()">
        + Add another ingredient
      </button>
      <mat-form-field appearance="standard" *ngFor="let ingredient of ingredients.controls; let i=index">
        <mat-label>Ingredient</mat-label>
        <input matInput id="ingredient-{{i}}" type="text" [formControlName]="i" required>
        <button *ngIf="i !== 0" mat-icon-button matSuffix (click)="removeIngredients(i)">
          <mat-icon class="remove-field-icon">delete_outline</mat-icon>
        </button>
      </mat-form-field>
      <div class="error-message">
        <mat-error *ngIf="ingredients?.touched && ingredients?.invalid">
          This field cannot be empty.
        </mat-error>
      </div>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Quantity</mat-label>
      <input matInput id="quantity" type="number" formControlName="quantity" required>
    </mat-form-field>
    <div class="error-message">
      <mat-error *ngIf="quantity?.touched && quantity?.invalid">
        Quantity must be greater than zero.
      </mat-error>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Price (in USD)</mat-label>
      <input matInput id="price" type="number" formControlName="price" required>
    </mat-form-field>
    <div class="error-message">
      <mat-error *ngIf="price?.touched && price?.invalid">
        Price must be greater than zero.
      </mat-error>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Short description</mat-label>
      <textarea matInput id="description" type="text" formControlName="description" required></textarea>
    </mat-form-field>
    <div class="error-message">
      <mat-error *ngIf="description?.touched && description?.invalid">
        The description must be a one sentence with at least two words, starting with a capital letter and ending with a
        period or an exclamation mark.
      </mat-error>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" [mat-dialog-close]="false">Exit</button>
  <button [disabled]="!updateDishForm.valid"
          mat-stroked-button color="accent"
          [mat-dialog-close]="updateDishForm.value">Update
  </button>
</mat-dialog-actions>
