/* Header */
.dishes-header {
  background-color: #9c27b0;
  display: flex;
  padding: 1em 0;
}

.currency-block {
  text-align: center;
  margin-right: 1em;
}

.show-filters-button {
  font-size: 1.4rem;
  margin-left: 0.25em;
}

.change-currency-title {
  font-size: 1.5rem;
}

.currency-value {
  font-size: 1.2rem;
}

/* Dishes filters */
.dishes-filters {
  padding: 0 1em;
}

/* Dishes cards */
.dishes-container {
  min-height: 100vh;
  padding: 1em;
}

.dishes-cards {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #595959;
}

.dish-card {
  background-color: #424242;
  flex-basis: 30%;
  margin: 0.5em 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #595959;
  cursor: pointer;
  width: 29vw;
}

.dish-image source,
.dish-image img {
  width: 100%;
  height: 20vw;
}

.dish-info {
  padding: 0 0.5em;
}

.dish-categories {
  margin-top: 0.5em;
  overflow-x: auto;
  white-space: nowrap;
}

.dish-categories li {
  display: inline-block;
  padding: 0.5em;
  margin: 0 0.25em;
  border-radius: 999em;
  background-color: #595959;
  font-size: 1.3rem;
}

.dish-categories li:first-child {
  margin-left: 0;
}

.dish-categories li:last-child {
  margin-right: 0;
}

.dish-name {
  font-size: 2rem;
  padding: 0.5em 0;
}

.dish-cuisine {
  font-size: 1.5rem;
}

.dish-description {
  font-size: 1.2rem;
}

.dish-card-hr {
  margin: 1em 0;
}

.dish-price-and-order {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.dish-price-title {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

.dish-price-value {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.dish-order {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.order-block {
  display: flex;
  align-items: center;
}

.order-number {
  margin: 0 0.5em;
  font-size: 1.5rem;
}

.order-not-logged-in {
  width: 40%;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .dish-card {
    flex-basis: 45%;
    width: 43vw;
  }

  .dish-image source,
  .dish-image img {
    height: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .dishes-cards {
    border: none;
  }

  .dish-card {
    flex-basis: 95%;
    /*width: 95vw;*/
  }

  .dish-image source,
  .dish-image img {
    height: 50vw;
  }
}
