<header class="dishes-header">
  <button class="show-filters-button" type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>filter_alt</mat-icon>
    Show filters
  </button>
  <span class="flex-spacer"></span>
  <div class="currency-block">
    <h3 class="change-currency-title">Change currency:</h3>
    <mat-button-toggle-group [value]="dishesInfoService.currCurrency" (change)="dishesInfoService.changeCurrCurrency()">
      <mat-button-toggle value="USD" class="currency-value">USD</mat-button-toggle>
      <mat-button-toggle value="EUR" class="currency-value">EUR</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>

<mat-progress-bar *ngIf="!dishes.length"></mat-progress-bar>

<mat-drawer-container hasBackdrop="true" autosize>
  <mat-drawer #drawer mode="over" class="dishes-filters">
    <app-filters [dishes]="dishes" (filteredDishesEvent)="getFilteredDishes($event)"></app-filters>
  </mat-drawer>
  <section class="dishes-container">
    <main class="dishes-cards" *ngIf="dishes.length">
      <div class="dish-card"
           *ngFor="let dish of filteredDishes"
           (click)="goToDishDetails(dish.name, dish.id)">
        <figure class="dish-figure">
          <picture class="dish-image">
            <source media="(max-width: 768px)" srcset="{{dishesInfoService.getImageUrl(dish.id, 1)}}">
            <source media="(min-width: 769px)" srcset="{{dishesInfoService.getImageUrl(dish.id, 0)}}">
            <img src="{{dishesInfoService.getImageUrl(dish.id, 0)}}" alt="{{dish.name}}">
          </picture>
        </figure>

        <div class="dish-info">
          <ul class="dish-categories">
            <li *ngFor="let category of dish.categories">{{category}}</li>
          </ul>
          <h2 class="dish-name">{{dish.name | uppercase}}</h2>
          <div class="dish-rating"
               title="Rating: {{dishesInfoService.dishesRating[dish.id]}}"
               *ngIf="dish.id !== undefined">
            <mat-icon [ngClass]="{'checked': dishesInfoService.dishesRating[dish.id] >= 1}">
              star_rate
            </mat-icon>
            <mat-icon [ngClass]="{'checked': dishesInfoService.dishesRating[dish.id] >= 2}">
              star_rate
            </mat-icon>
            <mat-icon [ngClass]="{'checked': dishesInfoService.dishesRating[dish.id] >= 3}">
              star_rate
            </mat-icon>
            <mat-icon [ngClass]="{'checked': dishesInfoService.dishesRating[dish.id] >= 4}">
              star_rate
            </mat-icon>
            <mat-icon [ngClass]="{'checked': dishesInfoService.dishesRating[dish.id] >= 5}">
              star_rate
            </mat-icon>
            <span class="dish-rating-cnt">({{dish.reviews.length}})</span>
          </div>
          <h3 class="dish-cuisine">{{dish.cuisine | uppercase}} CUISINE</h3>
          <p class="dish-description">{{dish.description}}</p>

          <hr class="dish-card-hr">

          <div class="dish-price-and-order">
            <div class="dish-price-block">
              <p class="dish-price-title">Price:</p>
              <p class="dish-price-value">
                {{dishesInfoService.getDishPrice(dish.price)}} {{dishesInfoService.currCurrency}}
              </p>
            </div>

            <span class="flex-spacer"></span>

            <div class="dish-order" *ngIf="authService.user; else notLoggedIn">
              <h2>Order now:</h2>
              <div class="order-block" *ngIf="dish.id">
                <button
                  mat-mini-fab color="warn"
                  (click)="dishOrderService.removeDishOrder(dish.id, dish.price, dish.name); $event.stopPropagation()"
                  [disabled]="!dishOrderService.currOrder[dish.id]">
                  <mat-icon>remove</mat-icon>
                </button>
                <div class="order-number" *ngIf="dishOrderService.currOrder[dish.id]; else zeroOrders">
                  {{dishOrderService.currOrder[dish.id].quantity}}
                </div>
                <ng-template #zeroOrders>
                  <div class="order-number">0</div>
                </ng-template>
                <button
                  mat-mini-fab
                  (click)="dishOrderService.addDishOrder(dish.id, dish.price, dish.name); $event.stopPropagation()"
                  [disabled]="dishOrderService.currOrder[dish.id] &&
                  dishOrderService.currOrder[dish.id].quantity === dish.quantity">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <ng-template #notLoggedIn>
              <div class="order-not-logged-in">
                You need to be logged in to place an order.
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </main>
  </section>
</mat-drawer-container>
