.dishes-manager-main {
  display: flex;
  flex-direction: column;
}

.dishes-manager-main button {
  font-size: 2rem;
  margin-top: 2em;
  padding: 3em;
}

@media screen and (max-width: 768px) {
  .dishes-manager-main button {
    font-size: 5vw;
    padding: 2em;
  }
}
