.login-container {
  text-align: center;
}

.login-title {
  margin: 2em 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 20em;
}

.create-account-link {
  margin-top: 1em;
}

.create-account-link a {
  color: #9c27b0;
}

@media (max-width: 350px) {
  .mat-form-field {
    width: 80vw;
  }
}
